﻿#mal_list_wrapper{
  font-family: 'Ubuntu', sans-serif;
}

.table-wrapper{
  border: solid 1px rgb(183, 183, 183);
  margin: 0 10% 5% 10%;
}

.wrapper_thumbnail{
  display: flex;
  padding: 1%;
}

.cover-image{
  height: 150px;
  max-width: 200px;
}
.wrapper_text_inside{
  display: inline;
}

.thumbnail_image{
  width: 75px;
}

